@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

/* Global background color for all pages */
body {
  background-color: #f5f5f5;
  overflow: auto !important; /* Ensure modal is visible */
  font-family: 'Noto Sans', sans-serif;
}


/* On focus */
:where(.ant-input:focus),
:where(.ant-input-focused) {
  border-color: green !important;
  box-shadow: 0 0 0 2px rgba(0, 128, 0, 0.2) !important; /* soft green glow */
}
:where(.css-dev-only-do-not-override-240cud).ant-input-outlined :hover {
  border-color: green !important;
  background-color: #ffffff;
}



/* For inputs inside form items */
:where(.ant-form-item-control-input-content) .ant-input .ant-input-focus {
  border-color: green !important;
}



.logout-button {
  background-color: red !important;
  border-color: red !important;
}
.logout-button:hover {
  background-color: red !important;
  border-color: red !important;
}
/* Exclude FooterForScopes from the global background */
.footer-for-scopes {
  background-color: #27a376 !important;
  border-color: #27a376 !important;
  box-shadow: 6px 10px 10px rgba(77, 185, 67, 0.253) !important;
}


.footer-for-scopes:hover {
  background-color: #27a376 !important;
  border-color: #27a376 !important;
}

/* Change the color of the steps line */
:where(.ant-checkbox-checked) .ant-checkbox-inner {
  background-color: green !important;
  border-color: green !important;
}

:where(.ant-checkbox-input):hover + .ant-checkbox-inner {
  border-color: green !important;
}

/* Optional: On hover */
:where(.ant-checkbox-wrapper):hover .ant-checkbox-inner {
  border-color: green !important;
}

/* You can put this in globals.css or any global override file */
:where(.ant-radio-wrapper) .ant-radio-checked .ant-radio-inner {
  border-color: green !important;
  background-color: green !important;
}

/* Optional: when focused */
:where(.ant-radio-wrapper) .ant-radio-inner::after {
  background-color: green !important;
  border-color: green !important;
  position: absolute;
}

:where(.ant-radio-wrapper):hover .ant-radio-inner {
  border-color: green !important;
}

:where(.ant-btn) {
  border-radius: 8px !important;
  padding: 10px 17px !important;
  height: auto !important;
  font-weight: 500 !important;
  transition: all 0.3s ease !important;
  background: #4299e1 !important;
  border-color: #4299e1 !important;
  box-shadow:6px 10px 10px rgba(71, 125, 240, 0.253) !important; ;
  color: white !important;
  
  
}

:where(.ant-btn):hover {
  background: #3182ce !important;
  border-color: #3182ce !important;
  transform: translateY(-1px);
  color: white !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

